.featured{
    background: linear-gradient(to right,rgba(0,0,0,0.7),rgba(0,0,0,0.1)),url('../../images/featured3.jpg') no-repeat;
    background-position: center;
    background-size: 118%;
    
}
.featured .btn{
    padding: 1% 4%;
    border-radius: 0;
}