.sideBar{
    background:Yellow;
    width:20%;
    color:black;
    height:100vh;
    position: absolute;
    right:0;
    top: 0;
    z-index: 99;
    padding: 5% 3%;
    position: fixed;
}
.sideBar ul{
    list-style: none;
    padding: 10% 2%;
}
.sideBar ul li{
    margin: 5% 2%;
}
.sideBar ul a{
    color:black;
    text-decoration: none;
    font-size: 30px;

}
.sideBar ul a:hover{
    text-decoration: none;
}
@media (min-width:1024px) and (max-width:1365px){
    .sideBar{
        width:30%
    }
}
@media (min-width:768px) and (max-width:1023.98px){
    .sideBar{
        width:50%
    }
    .card{
        width:13rem !important;
    }
    .card img{
        height: 200px !important;
    }
}
@media (max-width:767.98px){
    .sideBar{
        width: 100%;
    }
}