.footer{
    background: black;
    color: white;
}
.socialIcons a{
    font-size: 25px;
}
.logo{
    width:15%
}
h3{
    margin-bottom: 0px;
}
@media (max-width:767.98px){

    .socialIcons a{
        font-size: 20px;
        padding: 0 4%;
    }

}